@{
    ViewBag.Title = "ChangePassword";
}


<body style='background-color:#4b4545; background-attachment:fixed ; margin-left: 8em; margin-right: 8em; margin-top: 4em; margin-bottom: 4em;'>

    <form style="padding-left: 360px; margin-left: 30px; margin-top: 0em; font-family: 'Lucida Calligraphy';" action="/Account/ChangePass" method="post" name="form ">

        <h4>
            <font color="#c8c8c8">User Name</font>
            <br /><input type="text" placeholder="User Name" name="name" /><br /><br />
            <font color="#c8c8c8">Old Password</font>
            <br /><input type="text" placeholder="Old Password" name="old" /><br /><br />
            <font color="#c8c8c8"> New Password</font>
            <br /><input type="text" placeholder="New Password" name="new1" /><br /><br />
            <font color="#c8c8c8"> Confirm Password</font>
            <br /><input type="text" placeholder="Re-Enter New Password" name="renew" /><br /><br />

            <font color="#c8c8c8"><input type="Submit" align:right; name="signupbtn" class="btn pull-center" style="background-color: #336600; font-size: 20px; padding: 20px" value="Change Password" /></font>
            <br /><br /><br /><br /><br />
        </h4>
    </form>

</body>
