@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>validuser</title>
</head>
<body style='background-color:#4b4545'>
    <div>
        <script>alert(' some thing went wrong!');
    </script>
    <script>window.location = '/Account/ChangePassword'</script>
    </div>
</body>
</html>
