@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>validuser</title>
</head>
<body>
    <div>
        <script>alert('You are not a user. Please Sign Up first.');</script>
        <script>window.location='/Account/sign'</script>
    </div>
</body>
</html>
