@{
    ViewBag.Title = "Addimage";
}



@using foodOrder.Models
<body style='background-color:#4b4545; background-attachment:fixed ; margin-left: 8em; margin-right: 8em; margin-top: 4em; margin-bottom: 4em;'>

    <div class="container">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/image/1.jpg" width="1708" height="507" alt="" class="img-responsive " style="margin-top:10px">
                    <div style="position:absolute; top:30px; left:80px">
                        <center><h1><a style="font-family: 'Lucida Calligraphy'; font-style: oblique; text-shadow: 5px 5px 3px #336600; font-size: 70px" class="align: top;"><font color="#c8c8c8">Online Food Order</font></a></h1></center>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-inverse navbar-fixed-top " style="margin-left:9em; margin-right:82px; margin-top:15px">
            <div class="container-fluid">

                <div class="navbar-header">
                    <h5> <a class="navbar-brand" href="" style="font-family:'Showcard Gothic'; font-size:x-large">FOOD PANDA</a></h5>
                </div>
                <div>
                    <ul class="nav navbar-nav pull-right">
                        <li class="active"><a href="/Menu/Edit"><h5>HOME</h5></a></li>
                        <li><a href="/Admin/ManageMenu"><h5>ADMIN PANEL</h5> </a></li>
                        <li><a href="/Menu/show"><h5>VIEW MENU</h5></a></li>
                        <li><a href="/Menu/Delete"><h5>DELETE ITEM</h5></a></li>
                        <li><a href="/Menu/Update"><h5>UPDATE ITEM</h5> </a></li>
                        <li><a href="/Menu/Add"><h5>ADD ITEM</h5></a></li>
                        <li><a href="/Menu/Addimage"><h5>ADD IMAGE</h5></a></li>
                        <li><a href="/Account/logout"><h5>LOG OUT</h5></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>




    <br /><br /><br />
    <div class="col-md-6" style="background-color: black; color: #c8c8c8; margin-left: 300px; border-radius: 20px; box-shadow: 10px 10px 5px #888888; padding: 10px; margin-bottom: 20px;">
        <h1 style="font-family:'Lucida Calligraphy'; font-size:30px; color:#336600; padding:10px;">Image Manegement</h1><br /><br />

           <center> <table border="1" style=" font-family: 'Lucida Calligraphy';border-width:20px; border-color: #336600; color: #ffffff">
            @foreach (Catagoury i in Model)
            {
                <tr><td style="padding:10px">@i.name</td><<td style="padding:10px">@Html.ActionLink("Choose Image", "chooseimage", new { id = i.Id })</td></tr>

            }
        </table>
        </center>

        <br /><br />
    </div>

    <br /><br /><br />

</body>

