@{
    ViewBag.Title = "chooseimage";
}

<body style='background-color:#4b4545; background-attachment:fixed ; margin-left: 8em; margin-right: 8em; margin-top: 4em; margin-bottom: 4em;'>


    <div style=" background-color:black; margin:150px; font-family:'Lucida Calligraphy'; font-size:20px; color:#336600">
        <center>
            <form action="/Menu/menupic" method="post" enctype="multipart/form-data">

                Upload Image: <br /><br />
                <input type="file" multiple style="background-color:#336600; color:white" name="image" />
                <br /><br />
                <input type="submit" style="background-color:#336600; color:white" value="upload" />
                <br /><br />
            </form>
        </center>
    </div>


</body>
