@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>notadd</title>
</head>
<body>
    <div>
      
                <script>
                alert(' Fill all the Spaces!');
                </script>
                <script>window.location = '/Menu/Edit'</script>
           
    </div>
</body>
</html>
