
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="row" style="margin-bottom: 50px; margin-top: 50px;">
        <div class="col-md-6" style=" background-color:black; border:ridge #336600;  margin-left:30px; margin-right:130px;border-top-left-radius:500px; border-bottom-right-radius:100px; height:610px ;width:230px; box-shadow:10px 10px 5px #888888">
            <h1 style=" background-color: #336600; border-radius: 20px; padding: 10px; font-family: Lucida Calligraphy; text-shadow: 5px 5px 3px black; width: 350px; display: block; "><font color="#c8c8c8">Introduction</font></h1>
            <p style="padding-top:70px;padding-bottom:70px; padding-left:30px;padding-right:20px ">
                <font color="#c8c8c8">
                    The Food Panda is Pakistan’s most recognized and distinguished hospitality brand with a history of market innovation and excellence in restaurant chain operations. The Food Panda restaurants are owned and operated by Messrs Foodconsults (Pvt.) Ltd. which is based in Lahore, Pakistan.
                </font>
            </p>
        </div>
        <div class="col-md-6" style=" background-color:black; border:ridge #336600; margin-left:30px; margin-right:130px;border-top-left-radius:500px; border-bottom-right-radius:100px; height:610px ;width:230px; box-shadow:10px 10px 5px #888888">
            <h1 style=" background-color: #336600; border-radius: 20px; padding: 10px; font-family: Lucida Calligraphy; text-shadow: 5px 5px 3px black; width: 350px; display: block; "><font color="#c8c8c8">Services</font></h1>
            <p style="padding-top:70px;padding-bottom:70px; padding-left:30px;padding-right:20px ">
                <font color="#c8c8c8">
                    Our main focus is Online Food Delivery. We have put best of our efforts and to make you people comfortable. There are many of the services online and offline.
                    We deliver online at every area of the selected city. We provide 24 hours free online home delivery service. Just place an order and you will get your order in a given challenging time most probably every order deliver in 30 to 40 minutes.
                </font>
            </p>
        </div>
        <div class="col-md-6" style=" background-color:black; border:ridge #336600; margin-left:30px; margin-right:0px;border-top-left-radius:500px; border-bottom-right-radius:100px; height:610px ;width:230px; box-shadow:10px 10px 5px #888888">
            <h1 style=" background-color: #336600; border-radius: 20px; padding: 10px; font-family: Lucida Calligraphy; text-shadow: 5px 5px 3px black; width: 350px; display: block; "><font color="#c8c8c8">Standards</font></h1>
            <p style="padding-top:70px;padding-bottom:70px; padding-left:30px;padding-right:20px ">
                <font color="#c8c8c8">
                    This is a compatible free online delivery service. It meets to the terms and conditions of the UHS. All polices are followed. Privacy is kept for every colleague and person. Food Panda restaurants are regarded and respected as the number one restaurant entity in Pakistan by local and foreign observers.
                </font>
            </p>
        </div>
    </div>

    <div style="background-color:black; border-radius:20px; box-shadow:10px 10px 5px #888888">

    </div>
</body>