@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>validuser</title>
</head>
<body>
    <div>
        <script>alert('Please Sign In first if you want to place order.');</script>
        <script>window.location = '/Home/Index'</script>
    </div>
</body>
</html>
